:root {
  --active-tab-color: blueviolet;
}

.tabs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tabs-list {
  display: flex;
  gap: 10px;
}

.tabs-button {
  background-color: #f0f0f0;
  padding: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  outline: none;
}

.tabs-button:not(.tabs-button-active):hover {
  border-radius: 4px;
  color: var(--active-tab-color);
  border: 1px solid var(--active-tab-color);
}

.tabs-button-active {
  background-color: var(--active-tab-color);
  color: #fff;
}

.tabs-button:focus-visible {
  outline: 2px solid var(--active-tab-color);
  outline-offset: 2px;
}

.tab-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.tab-content-item {
  display: none;
}

.tab-content-item-active {
  display: block;
}



